# PCSS api key ( get it on hpc.psnc.pl)
PCSS_API_KEY=your_api_key_here

# PCSS api base url
PCSS_BASE_URL=https://llm.hpc.psnc.pl/v1/chat/completions

# Name of model (eg. llama-3-8b)
MODEL=ai_model

# debug mode (true/false)
DEBUG=false