--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.0+cu124
transformers<5.0.0
peft
trl
datasets
huggingface_hub
wandb
python-dotenv
bitsandbytes
accelerate
flash-attn
sentencepiece
protobuf