# PCSS api key ( get it on hpc.psnc.pl)
PCSS_API_KEY=your_api_key_here

# PCSS api base url
PCSS_BASE_URL=https://llm.hpc.psnc.pl/v1/chat/completions

# Name of model (eg. llama-3-8b)
MODEL=ai_model

# debug mode (true/false)
DEBUG=false

# Whether to load the processed data from Hugging Face Hub (true/false)
LOAD_FROM_HUB=false

# Whether to push the processed data to Hugging Face Hub (true/false)
PUSH_TO_HUB=false