# API key ( get it on hpc.psnc.pl)
API_KEY=your_api_key_here

# API base url
API_BASE_URL=https://llm.hpc.psnc.pl/v1

# Name of model (eg. llama-3-8b)
MODEL=ai_model

# debug mode (true/false)
DEBUG=false

# Whether to load the processed data from Hugging Face Hub (true/false)
LOAD_FROM_HUB=false

# Whether to push the processed data to Hugging Face Hub (true/false)
PUSH_TO_HUB=false

# Whether to save logs (true/false)
SAVE_LOGS=false

# Maximum number of concurrent requests to the API
MAX_CONCURRENCY=5

# Number of samples to process in each batch
BATCH_SIZE=10