GRANT=plxxxx-xx

USER=User_name

HF_TOKEN=some-token

# PCSS api key (not needed now, a relict from the past)
API_KEY=not-needed

# vllm entrypoint for api
API_BASE_URL=http://localhost:8080/v1

# Name of model (eg. llama-3-8b)
# Important: LLaMA 3.1 models are gated at huggingface and require
# selling your soul to Meta to get access (and some time to wait for approval). 
# If you don't have access, you can use different model for testing whether it works
MODEL=meta-llama/Llama-3.1-8B-Instruct

# debug mode (true/false)
DEBUG=true

# Whether to load the processed data from Hugging Face Hub (true/false)
LOAD_FROM_HUB=false

# Whether to push the processed data to Hugging Face Hub (true/false)
PUSH_TO_HUB=false

# Whether to save logs (true/false)
SAVE_LOGS=false

# Maximum number of concurrent requests to the API
MAX_CONCURRENCY=32

